.task-container {
  background-color: #444;
  display: flex;
  border-radius: 5px;
  justify-content:space-between;
}

.task-id {
  background-color: rgb(0, 218, 199);
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  color: rgb(3, 53, 87);
}

.task-descricao {
  padding: 15px 20px;
  align-items: center;
  color: white;
}

.task-status {
  padding: 15px 20px;
  align-items: center;
  color: rgb(250, 109, 109);
}

.task-createdAt {
  padding: 15px 20px;
  border-radius: 0 5px 5px 0;
  align-items: center;
  color: white;
}
